
BENNER_USERNAME=seu_usuario
BENNER_PASSWORD=sua_senha
BENNER_KEY=2584207
BENNER_DATA=13/07/2026
BENNER_INICIO=09:00
BENNER_FIM=18:00
BENNER_OBSERVACOES="Atividade de desenvolvimento"
BENNER_TIPO="Análise de sistemas"
DISPLAY=:0 # Para Linux. Ajuste para sua configuração (ex: host.docker.internal:0 para Windows/macOS)
